.pxe__section {
    height: 100dvh;
}

/*SECTIONS*/
.content {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    /*padding: clamp(2rem, 3vw, 4rem);*/
    padding: min(7.4dvh, 4.16dvw); /*80px*/
    box-sizing: border-box;    
    font-family: 'Neue Montreal Medium', sans-serif;
    overflow-y: hidden;
}
.content p,
.content u {
    /*font-size: clamp(1.125rem, 1vw, 1.25rem);*/
    /*font-size: min(1.04dvw, 1.85dvh); */ /*20px*/
    font-size: min(2.03dvh, 1.15dvw); /*22px*/
    line-height: normal;
    /*font-size: min(2.22dvh, 1.25dvw); 24px*/
    line-height: normal;
    margin-bottom: 0.5rem;
}

.content--dark-green {
    background-color: #1f2b2b;
    color: white;
}
.content--light-green {
    background-color: #32483c;
    color: white;
}
.content--beige {
    background-color: #9c958d;
    color: white;
}

.content-row {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;
}

.content-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}

.section-number {
    position: absolute;
    color: white;
    font-family: 'Neue Montreal Bold', sans-serif;;
    font-size: clamp(10rem, 18vw, 20rem);
    line-height: 1;
    top: 0;
    right: 2rem;

}
.section-number--left {
    left: 2rem;
}

.section-number--black {
    color: black;
}

.section-number--outline {
    color: transparent;
    -webkit-text-stroke: 1px white;
    transform: translate(-0.5rem, -0.5rem);
}
.section-number--outline.section-number--black {
    -webkit-text-stroke: 1px black;
}