/*TEXTS*/
.header__title {
    font-family: 'Neue Montreal Bold', sans-serif;
    font-size: clamp(2rem, 3vw, 3.4rem);
    line-height: 1.1;
}
.header__subtitle {
    font-family: 'Neue Montreal Regular', sans-serif;
    font-size: clamp(1.5rem, 3vw, 3.2rem);
}

.section_title {
  font-family: 'Neue Montreal Bold', sans-serif;
  /*font-size: clamp(2rem, 5vw, 3rem);*/
  font-size: min(5.55dvh, 3.12dvw); /*60px*/
  color: black;
  margin: 0;
}
.section_title--white {
  color: white;
}
.section_subtitle {
    font-family: 'Neue Montreal Medium', sans-serif;
    font-size: min(5.55dvh, 3.12dvw); /*min(4.6dvh, 2.6dvw);*/
}
.section_subtitle--medium-italic {
    font-family: 'Neue Montreal Medium Italic', sans-serif;
    font-size: min(5.55dvh, 3.12dvw);
}
.section_subtitle-italic {
    font-family: 'Neue Montreal Light Italic', sans-serif;
    font-size: min(4.6dvh, 2.6dvw); /*50px*/
}

/*01 HEADER*/
.img__background {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.logo-tec {
    width: clamp(25rem, 25vw, 30rem);
}
.logoPXE {
    position: absolute;
    height: clamp(80vh, 90vh, 95vh);
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
}

.logo-pxe {
  width: clamp(300px, 40vw, 440px);
  height: auto;
}

/*02 WHY*/
.leyenda {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-image: url('/public/pxe_images/map_mty.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.leyenda p {
    font-size: min(2.22dvh, 1.25dvw); /*24px*/;
}
.leyenda span {
    font-size: 40px;
}

/*03 PROCESO Y PARTICIPACIÓN*/
.process .content-col {
    max-width: 50%;
    height: 90%;
    justify-content: space-between;
}
.step__item {
    padding: 0.7rem;
    border-radius: 6px;
}
.step__item--blue { background: #5f8fbf;}
.step__item--yellow { background: #d6ab2d;}
.step__item--red { background: #c95a5a;}
.step__item--green { background: #7fae6b;}

.step__description {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0;
}
.step__description p {
    margin: 0;
}
.step__number {
    font-size: 2rem;
}

/*03 HERRAMIENTAS*/
.herramientas {
  display: flex;
  flex-direction: column;
  width: min(64.8dvh, 36.4dvw);
  height: 90%;
  padding: min(2.22dvh, 1.25dvw); /*24px*/
  background-color: #c6c9c7;
  border-radius: 12px;
  /* box-sizing: border-box; */
  /* flex-shrink: 0; */
}
.herramientas h3,
.herramientas h4 {
    text-align: center;
    font-family: 'Neue Montreal Bold', sans-serif;
}
.toolCards {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
  /* box-sizing: border-box; */
}
.toolCards__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: black;
    text-align: center;
    height: auto;
}
.toolCards__card p {
    background-color: #e8e8e8;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: min(1.85dvh, 1.04dvw); /*20px*/
}


/* THEMES (GRID DE COLORE) */

.color-grid {
    position: absolute;
    top:0;
    right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    height: 100dvh;
    width: 50dvw;
}
.theme {
  position: relative;
  padding: 1.5rem 1.8rem;

  /*font-size: clamp(1rem, 1.05vw, 1.1rem);*/
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.theme h3 { font-size: min(2.96dvh, 1.6dvw); }
.theme span { font-size: min(1.48dvh, 0.83dvw) }

.theme__meta {
  position: absolute;
  top: 0.9rem;
  right: 1.1rem;

  line-height: 1.35;
  font-weight: 400;

  text-align: right;
  opacity: 0.9;

  max-width: 65%;
}
/* Colores */
.theme--water        { background: #2f6c93; }
.theme--mobility     { background: #f1c54a; }
.theme--management   { background: #67b7e1; }
.theme--energy       { background: #f28c45; }
.theme--governance   { background: #c85c5c; }
.theme--finance      { background: #7dbb66; }
.theme--connection   { background: #7c6bb0; }
.theme--citizenship  { background: #8ccfb0; }

/*04 ESCENARIOS*/
.col-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

/*SCENARIO INTRO*/ 
.scenario h4 {
    font-size: 23px; /*24px*/
    line-height: normal;
    margin-bottom: 0.5rem;
}
.dots-row {
  display: flex;
  gap: 0.5rem;
  height: 100%;
}
.dot {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #000000;
}
.dot--filled {
    background-color: #000000;
}
.scenario-grid {
    display: grid;
    grid-template-columns: 60% 1fr;
    gap: 1rem;
    box-sizing: border-box;
}
.scenario-grid--desc {
    grid-template-columns: 75% 1fr;
}
.scenario-grid h4,
.scenario-grid h3 {
    margin: 0;
}
.three-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    height: 100%;
    box-sizing: border-box;
}
.three-columns .content-col {
    gap: 1rem;
    /* justify-content: space-between; */
    height: 100%;
}
.three-columns .content-col p {
    font-size: min(1.85dvh, 1.04dvw); /*20px*/
    line-height: normal;
    margin: 0;
}

/*VENTAJAS Y TENSIONES*/
.extraInfo {
    background-color: #d8e1f5;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
}
.extraInfo--inercial {
    background-color: #fafafa;
}
.extraInfo h6 {
    font-family: 'Neue Montreal Bold', sans-serif;
    font-size: min(2.22dvh, 1.25dvw); /*24px*/
}
.extraInfo .content-col p {
    font-size: min(1.38dvh, 0.78dvw); /*15px*/
}

/*TEAM*/
.team_grid {
    width: 50%;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    gap: 3rem;
}

.equipo h3 {
    font-family: 'Neue Montreal Bold', sans-serif;
    font-size: clamp(1.25rem, 1vw, 1.5rem);
    margin-bottom: 1rem;
}
.equipo span{
    font-family: 'Neue Montreal Light', sans-serif;
}

/*FONT IMPORTS*/
@font-face {
    font-family: 'Neue Montreal Bold';
    src: url(/public/pxe_images/fonts/Neue\ Montreal/NeueMontreal-Bold.otf) format("opentype");
}
@font-face {
    font-family: 'Neue Montreal Medium';
    src: url(/public/pxe_images/fonts/Neue\ Montreal/NeueMontreal-Medium.otf) format("opentype");
}
@font-face {
    font-family: 'Neue Montreal Regular';
    src: url(/public/pxe_images/fonts/Neue\ Montreal/NeueMontreal-Regular.otf) format("opentype");
}
@font-face {
    font-family: 'Neue Montreal Medium Italic';
    src: url(/public/pxe_images/fonts/Neue\ Montreal/NeueMontreal-MediumItalic.otf) format("opentype");
}
@font-face {
    font-family: 'Neue Montreal Light';
    src: url(/public/pxe_images/fonts/Neue\ Montreal/NeueMontreal-Light.otf) format("opentype");
}
@font-face {
    font-family: 'Neue Montreal Light Italic';
    src: url(/public/pxe_images/fonts/Neue\ Montreal/NeueMontreal-LightItalic.otf) format("opentype");
}