.cardSection {
  display: flex;
  top: 0px;
  left: 0px;
  margin: 0px;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  width: calc(100% - 0.4rem);
}

.card {
  padding: 1rem;
  border: 0.14rem solid;
  margin-top: 4rem;
  padding-top: 4rem;
  margin-bottom: 0.4rem;
  border-radius: 2rem;
  height: calc(100vh - 4.4rem);
  background-color: rgba(255, 255, 255, 0.9);
}

.highlightAccent {
  font-family: Inter;
  color: rgb(245, 159, 0);
  font-weight: 600;
  cursor: pointer;
  padding: 0.1rem 0.2rem;
  border-radius: 0.4rem;
}

.highlightAccent:hover {
  background: orange;
  color: white;
}

.highlightSubcenters {
  font-family: Inter;
  color: rgb(85, 0, 255);
  font-weight: 600;
  cursor: pointer;
  padding: 0.1rem 0.2rem;
  border-radius: 0.4rem;
}

.highlightSubcenters:hover {
  background: rgb(117, 62, 255);
  color: white;
}

.highlightTransport {
  font-family: Inter;
  color: rgb(255, 105, 180, 128);
  font-weight: 600;
  cursor: pointer;
  padding: 0.1rem 0.2rem;
  border-radius: 0.4rem;
}

.highlightEmployments {
  font-family: Inter;
  color: rgb(64, 224, 208, 128);
  font-weight: 600;
  cursor: pointer;
  padding: 0.1rem 0.2rem;
  border-radius: 0.4rem;
}

.highlightCenters {
  font-family: Inter;
  color: rgb(0, 89, 255);
  font-weight: 600;
  cursor: pointer;
  padding: 0.1rem 0.2rem;
  border-radius: 0.4rem;
}

.highlightCenters:hover {
  background: rgb(62, 62, 255);
  color: white;
}

.response {
  font-family: Inter;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  font-weight: 600;
}

.context {
  font-family: Inter;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  font-style: italic;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-weight: 600;
}
