html {
  overflow: hidden;
}

body {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
}

.cardsContainer {
  width: calc(35% - 3.5rem);
}

.mapContainer {
  width: 65%;
  border-width: 0 0 0.15rem 0.15rem;
  border-radius: 0 0 0 2rem;
  height: calc(100vh - 0.5rem);
  transition: all 0.5s ease;
  overflow: hidden;
  position: sticky;
  right: 0em;
  top: 0rem;
  bottom: 0.5rem;
}

/* Estilos nuevos para leyendas iniciales */

.legend-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
  left: 20px;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.9);
  padding: 5px 15px;
  box-shadow: 0 2px 8px rgba(50, 50, 50, 0.2); 
  z-index: 10;
}

.legend-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 18px;
}

.legend-color {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.legend-numbers {
  display: flex;
  flex-grow: 1;
}

.legend-label {
  flex: 1;
  text-align: right;
  font-size: 0.75rem;
  color: #333;
  font-family: "Arial", Courier, monospace;
  line-height: 26px;
}

.legend-label:last-child {
  text-align: right;
}

.legend-dash {
  margin: 0 10px;
  flex-shrink: 0;
  font-family: "Arial", Courier, monospace;
}
/* Estilos nuevos para tooltip inicial */

.tooltip {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  pointer-events: none; /* Esto asegurará que el tooltip no interfiera con otros eventos del ratón */
}

.tooltip-content {
  font-size: "0.8rem";
}

.tooltip-label {
  font-size: 0.75rem;
  text-align: left;
  color: #333;
}

.tooltip-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  background: rgba(255, 255, 255, 0.95);
  padding: 5px 10px;
  box-shadow: 0 2px 8px rgba(50, 50, 50, 0.3);
  z-index: 10;
  width: 300px;
  border-radius: 5px;
}

.tooltip-container::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.9) transparent transparent transparent;
}
